<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a style="display:inline;" class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
    <a style="display:inline;" class="sidebar-nav-item" href="http://www.mindviewinc.com/About/Bruce.php" target="_blank">About</a>
    <a style="display:inline;" class="sidebar-nav-item" href="http://www.mindviewinc.com" target="_blank">Mindview LLC</a>
    {% for post in site.posts %}
      <a class="sidebar-nav-item" href="{{ post.url }}">{{ post.date | date_to_string }} &raquo; {{ post.title }}</a>
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }} Mindview LLC</br>All rights reserved
    </p>
  </div>
</div>
